.invisible-radio{
  visibility: hidden;
}
.selectableArea{
  color: black;
  cursor:pointer;
  display:flex;
  padding-left: 1rem;
  padding-right: 1rem;
  width:fit-content;
  height:30px;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: white;
  margin-bottom: 0.5rem;
  user-select: none; /* Standard */

}

input[type=radio] {
  &:checked + .selectableArea {
    background: $mainColor;
  }
}
 