.invisible-checkbox{
    display:none
  
  }
  .selectableArea{
    @include quick_response
  
  }
  
  input[type=checkbox] {
    &:checked + .selectableArea {
      background: $mainColor;
      -webkit-appearance: none;
    }
}
