.btn{
  @include styled_button
}
#ButtonArea{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: $defaultMargin;
  padding-right: $defaultMargin;
}

#next{
    background-color: $mainColor;
    margin-left: $halfMargin;
    color:black;
}
#back{
    margin-right: $halfMargin;
    border-width: 1px;
    border-style: solid;
    border-color: $mainColor;
    background-color: $backgroundColor;
    color: white;
  }