@mixin styled_button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    font-family: $titleFont;
    border-radius:$bdrRadius;
    max-width: 172px;
    width: calc(50% - $halfMargin);
}

@mixin quick_response {
    color: black;
    cursor:pointer;
    display:flex;
    padding-left: 1rem;
    padding-right: 1rem;
    width:fit-content;
    height:30px;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background: white;
    margin-bottom: 0.5rem;
    user-select: none; /* Standard */
}