//colors 

$backgroundColor: #000000;
$secondaryBackgroundColor: #262626;
$mainColor: #05F092;
$white:white;

//fonts 
$titleFont: 'Oswald', sans-serif;
$mainFont: 'Roboto', Arial, Helvetica, sans-serif;

$bdrRadius: 2px;
$defaultMargin: 16px;
$halfMargin: calc($defaultMargin / 2);

$fullWidth: calc(100vw - $defaultMargin * 2);


