@import "./style/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

html,body{
    background-color:$backgroundColor;
    font-family: $mainFont;
    overflow-x: hidden;
}
#app{
    display: grid;
    grid-template-columns: repeat(auto);
    gap: $defaultMargin;
    grid-template-rows: auto auto 200px auto auto auto;
    grid-auto-rows: minmax(min-content, max-content);
    color: white;
    height: calc(100vh - env(safe-area-inset-bottom)); 
    //height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    align-items: start;
    grid-template-areas: 
    "header"
    "onboardingText"
    "inputContent"
    "photoLocation"
    "progress"
    "btn-area"
}
.header{
    grid-area: header;
}
.onboardingText{
    grid-area: onboardingText;
    height: 100%;
}

.quickResponseArea{
    grid-area: inputContent;
}

.fileInput{
    grid-area: photoLocation;

}

.progress{
    grid-area: progress;
    align-self: end;
}

.btn-area{
    grid-area:btn-area;
    padding-bottom:env(safe-area-insert-bottom);
    padding-bottom: 64px;
}

.space{
    grid-area:space;
    display: block;
}

.textInput{
    margin: calc($defaultMargin * 3);
}




